<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccentColor</key>
	<string>#00C249</string>
	<key>DefaultTitle</key>
	<string>Default title if not overwritten by the version&apos;s title</string>
	<key>DefaultAccentTitle</key>
	<string>Default accented title as a fallback if the version doesn&apos;t have one.</string>
	<key>DefaultDescription</key>
	<string>This description is used because the version does not have one.</string>
	<key>DefaultButtonTitle</key>
	<string>DefaultButtonTitle</string>
	<key>Welcome</key>
	<dict>
		<key>Title</key>
		<string>Welcome Title</string>
		<key>AccentTitle</key>
		<string>$(AppName)</string>
		<key>Description</key>
		<string>Weclome Description</string>
		<key>ButtonTitle</key>
		<string>Welcome ButtonTitle</string>
		<key>Features</key>
		<array>
			<dict>
				<key>SystemImage</key>
				<string>figure.wave</string>
				<key>ImageColor</key>
				<string>#FF453A</string>
				<key>Image</key>
				<string></string>
				<key>Title</key>
				<string>A welcome screen</string>
				<key>Description</key>
				<string>Welcome your users and introduce important functionality.</string>
			</dict>
			<dict>
				<key>SystemImage</key>
				<string>megaphone.fill</string>
				<key>ImageColor</key>
				<string>#FF9F0A</string>
				<key>Image</key>
				<string></string>
				<key>Title</key>
				<string>A new version screen</string>
				<key>Description</key>
				<string>Introduce your users to great new features in new versions.</string>
			</dict>
			<dict>
				<key>SystemImage</key>
				<string></string>
				<key>ImageColor</key>
				<string>#30D158</string>
				<key>Image</key>
				<string>TextBookClosedFill</string>
				<key>Title</key>
				<string>A simple how to screen</string>
				<key>Description</key>
				<string>Help your users and explain a screen or a feature.</string>
			</dict>
		</array>
	</dict>
	<key>Versions</key>
	<dict>
		<key>1.1.1</key>
		<dict>
			<key>Title</key>
			<string>Title of</string>
			<key>AccentTitle</key>
			<string>Version $(version)</string>
			<key>Description</key>
			<string></string>
			<key>Features</key>
			<array>
				<dict>
					<key>SystemImage</key>
					<string>photo</string>
					<key>ImageColor</key>
					<string>#00B1C2</string>
					<key>Image</key>
					<string></string>
					<key>Title</key>
					<string>Feature 1 Title</string>
					<key>Description</key>
					<string>Feature 1 Description</string>
				</dict>
				<dict>
					<key>SystemImage</key>
					<string>photo</string>
					<key>ImageColor</key>
					<string>#9200C2</string>
					<key>Image</key>
					<string></string>
					<key>Title</key>
					<string>Feature 2 Title</string>
					<key>Description</key>
					<string>Feature 2 Description</string>
				</dict>
			</array>
			<key>ButtonTitle</key>
			<string></string>
		</dict>
		<key>1.1.0</key>
		<dict>
			<key>Title</key>
			<string></string>
			<key>AccentTitle</key>
			<string></string>
			<key>Description</key>
			<string>Enjoy the following new features!</string>
			<key>Features</key>
			<array>
				<dict>
					<key>SystemImage</key>
					<string>person.crop.square.fill</string>
					<key>ImageColor</key>
					<string>#B857E8</string>
					<key>Image</key>
					<string></string>
					<key>Title</key>
					<string>Different colors for each image</string>
					<key>Description</key>
					<string>Each of the given system images can be given a unique color.</string>
				</dict>
				<dict>
					<key>SystemImage</key>
					<string>square.grid.3x3</string>
					<key>ImageColor</key>
					<string>#B857E8</string>
					<key>Image</key>
					<string></string>
					<key>Title</key>
					<string>Automated versioning</string>
					<key>Description</key>
					<string>Just add a new version to the plist file and the view does the rest for you.</string>
				</dict>
				<dict>
					<key>SystemImage</key>
					<string>heart.text.square.fill</string>
					<key>ImageColor</key>
					<string>#B857E8</string>
					<key>Image</key>
					<string></string>
					<key>Title</key>
					<string>Code made with love</string>
					<key>Description</key>
					<string>The code was written and already used in my own apps. Feedback is always welcome.</string>
				</dict>
			</array>
			<key>ButtonTitle</key>
			<string>Let&apos;s Go</string>
		</dict>
	</dict>
</dict>
</plist>
