<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Works on</string>
	<key>AccentTitle</key>
	<string>smaller devices</string>
	<key>Description</key>
	<string>The view can be used for all current apple devices.</string>
	<key>AccentColor</key>
	<string>#FF9100</string>
	<key>Features</key>
	<array>
		<dict>
			<key>SystemImage</key>
			<string>square.and.pencil</string>
			<key>ImageColor</key>
			<string></string>
			<key>Image</key>
			<string></string>
			<key>Title</key>
			<string>Dynamic fonts support</string>
			<key>Description</key>
			<string>The view adapt to the accessibility settings of your user.</string>
		</dict>
		<dict>
			<key>SystemImage</key>
			<string>square.split.2x1.fill</string>
			<key>ImageColor</key>
			<string></string>
			<key>Image</key>
			<string></string>
			<key>Title</key>
			<string>Dark mode support</string>
			<key>Description</key>
			<string>Automated light and dark mode support.</string>
		</dict>
		<dict>
			<key>SystemImage</key>
			<string>list.bullet.rectangle</string>
			<key>ImageColor</key>
			<string></string>
			<key>Image</key>
			<string></string>
			<key>Title</key>
			<string>Landscape support</string>
			<key>Description</key>
			<string>Portrait or landscape with smooth transitions.</string>
		</dict>
	</array>
	<key>ButtonTitle</key>
	<string>Awesome!</string>
</dict>
</plist>
